<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
        <link rel="stylesheet" th:href="@{/css/review.css}" />
        <script defer src="../../resources/js/review.js" th:src="@{/js/review.js}"></script>
        <title>페이지 제목</title>
    </head>
    <body class="disable-user-select">
        <div id="root">
            <div class="wrapper" id="wrapperDiv">
                <header id="header" class="opaque">
                    <div class="container">
                        <div class="header-left">
                            <a th:href="@{|/restaurant/detail/${restaurant_seq}|}" class="btn-back">뒤로</a>
                            <h1 class="page-title" style="padding-right: 4px;" th:text="${restaurantInfo.restaurant_name}"></h1>
                        </div>
                    </div>
                </header>
                <main id="main">
                    <!--홈 메뉴 사진 리뷰-->
                    <div class="tab-menu sticky" style="top: 48px;">
                        <ul>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}|}"><span>홈</span></a></li>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/menuList|}"><span>메뉴</span></a></li>
                            <li class=""><a th:href="@{|/restaurant/detail/${restaurant_seq}/photo|}"><span>사진</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                            <li class="active"><a><span>리뷰</span><span style="font-size: 10px; color: rgb(170, 170, 170); padding-left: 3px; padding-top: 1px;"></span></a></li>
                        </ul> 
                    </div>

                    <!--리뷰 별점-->
                    <section class="section mb-16">
                        <div class="container gutter-sm">
                            <div class="review-rating-summary review-rating-summary-splitview">
                                <div class="average">
                                    <h5><span class="_1ltqxco1h" th:text="|${restaurantInfo.review_total} 개 리뷰|">별점 평균</span></h5>
                                    <div class="score"><strong class="_1ltqxco19 _10fm75h19" th:text="${restaurantInfo.rating}">4.5</strong></div>
                                </div>
                                <div class="rating-distribution">
                                    <ul>
                                        <li>
                                            <span class="score _1ltqxco1g">5점</span>
                                            <span class="progress">
                                                <span class="bar" style="width: 71.4286%;"></span>
                                            </span>
                                            <span class="count _1ltqxco1g">10</span>
                                        </li>
                                        <li>
                                            <span class="score _1ltqxco1g">4점</span>
                                            <span class="progress">
                                                <span class="bar" style="width: 7.1428%;"></span>
                                            </span>
                                            <span class="count _1ltqxco1g">1</span>
                                        </li>
                                        <li>
                                            <span class="score _1ltqxco1g">3점</span>
                                            <span class="progress">
                                                <span class="bar" style="width: 71.4286%;"></span>
                                            </span>
                                            <span class="count _1ltqxco1g">10</span>
                                        </li>
                                        <li>
                                            <span class="score _1ltqxco1g">2점</span>
                                            <span class="progress">
                                                <span class="bar" style="width: 71.4286%;"></span>
                                            </span>
                                            <span class="count _1ltqxco1g">10</span>
                                        </li>
                                        <li>
                                            <span class="score _1ltqxco1g">1점</span>
                                            <span class="progress">
                                                <span class="bar" style="width: 71.4286%;"></span>
                                            </span>
                                            <span class="count _1ltqxco1g">10</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="container gutter-sm">
                        <div class="section-body"></div>
                    </div>
                    <section class="section mb-20">
                        <div class="section-header _1xvmu764 _1xvmu766">
                            <div class="_1xvmu76c _1xvmu76e">
                                <div class="_10fm75h2">
                                    <a href="#" class="btn-sort">베스트순

                                    <div class="_1cjtq760 _1ltqxco1o _1xvmu763 modal" id="myModal" style="opacity: 1;">
                                        <div class="modal-content">
                                            <label class="_7cdeui0">
                                                <input type="radio" name="sort_by" class="_7cdeui1" checked="">
                                                <span class="_7cdeui2">베스트순</span>
                                            </label>
                                            <br>
                                            <label class="_7cdeui0">
                                                <input type="radio" name="sort_by" class="_7cdeui1">
                                                <span class="_7cdeui2">최근 등록순</span>
                                            </label>
                                            <br>

                                            <label class="_7cdeui0">
                                                <input type="radio" name="sort_by" class="_7cdeui1">
                                                <span class="_7cdeui2">별점 높은순</span>
                                            </label>
                                            <br>

                                            <label class="_7cdeui0">
                                                <input type="radio" name="sort_by" class="_7cdeui1">
                                                <span class="_7cdeui2">별점 낮은순</span>
                                            </label>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <div class="container gutter-sm">
                            <div class="section-body">
                                <div class="__my-review-list ml--20 mr--20">
                                    <div id="shopReviewListScroll_0" data-dummy="414" style>
                                        <div>
                                            <article class="__my-review-post" style="border: none;">
                                                <div class="__header">
                                                    <div class="__user-info">
                                                        <a class="profile">
                                                            <div class="profile-pic">
                                                                <img class="img" >
                                                            </div>
                                                            <h4 class="name username">
                                                                <span class="txt">lili</span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div class="__review-meta __review-meta--with-rating">
                                                        <div class="x9vxc46">
                                                            <a class="ebold __rating" id="__toggle" style="margin-right: 40px;">
                                                                <div class="_10fm75h6" >5.0

                                                                </div>
                                                            </a>
                                                            <p class="ooezpq2 _1ltqxco1e" style="--ooezpq0: 4px; --ooezpq1: var(--_1ltqxcoa);"></p>
                                                        </div>

                                                        <span class="__date">2024.03.03</span>
                                                    </div>
                                                </div>

                                                <div class="__body" style="position: relative; padding: 0px 16px 70px;">
                                                    <div class="x9vxc45">
                                                        <div class="v-scroll">
                                                            <div class="v-scroll-inner">
                                                                <div class="__photos" style="display: flex; flex-wrap: nowrap;">
                                                                    <div class="swiper-slide" style="margin-right: 8px;">
                                                                        <img src="https://ugc-images.catchtable.co.kr/rv/sWs4x3hgXXHvqKScKRn1MnQ/6ecf41bc160342d7b666394e79c0deec?small220" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="__review-post">
                                                        <p class="review-content expand">
                                                            원주 친구한테 추천받고 왔는데~ <br>
                                                            대박!!기대 이상으로 광고에세 보던 그 비쥬얼~!! <br>
                                                            맛도 좋고 눈도 호강!
                                                        </p>
                                                        <a class="__more "></a>
                                                    </div>
                                                    <div class="__d-flex __v-center" style="justify-content: space-between;">
                                                        <div class="__post-meta mb-24">
                                                            <span class="__like la3t9m0" style="transform: none;">0</span>
                                                            <span class="__comment">0</span>
                                                        </div>
                                                        <div class="x9vxc43">
                                                            <button type="button" class="x9vxc44">
                                                                <span class="_1e99eu30">MORE</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--"container gutter-sm"-->
                    </section>
                </main>
            </div>
            <aside id="dock" class="pgjaj00">
                <div class="_1kfi3w60">
                    <button class="_1kfi3w61">저장</button>
                    <span class="_1kfi3w63">8,258</span>
                </div>
                <button class="pgjaj01" type="button">
                    <div class="pgjaj02 pgjaj04">웨이팅 등록하기</div>
                </button>
            </aside>
        </div>
    </body>

</html>